<!--  <div>
<app-products></app-products>
<app-productlist></app-productlist>
<app-product1></app-product1>
<app-register></app-register>
<app-reactiveform></app-reactiveform> 
 <app-customer-dashboard></app-customer-dashboard> -->
 <!-- <app-parent-child></app-parent-child>  -->
 <!-- <app-event-form></app-event-form> -->
 <!-- <app-parentcomponent></app-parentcomponent> -->
<!-- <app-online-courses></app-online-courses>
 <app-template></app-template> 
 <app-formarray></app-formarray> -->  
<!-- <app-parentcomponent></app-parentcomponent> -->
<!-- <app-event-form></app-event-form>
</div> --> 
<!-- <app-reactiveform></app-reactiveform> -->
<!-- <app-event-form></app-event-form> -->
<!-- <app-online-courses></app-online-courses> -->
<app-template></app-template> 